DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=importer
DB_PASS=geheim
DB_NAME=import_db

HASH_PEPPER=jouw-geheime-pepper-hier
HASH_ENABLED=true

INPUT_PATH=/data/export.7z

IMPORT_BATCH_SIZE=2000
IMPORT_COMMIT_EVERY=10000
